src/wsdl/dev33.facturacfdi.mx_80/WSTimbradoCFDIService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://cancelacfd.sat.gob.mx" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cancelacfd.sat.gob.mx">

<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://dev33.facturacfdi.mx:80/WSTimbradoCFDIService?xsd=1"/>

<xs:element name="CancelaCFD">
<xs:complexType>
<xs:sequence>
<xs:element name="Cancelacion" type="tns:Cancelacion" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CancelaCFDResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="CancelaCFDResult" type="tns:Acuse" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="Cancelacion">
<xs:sequence>
<xs:element name="Folios" form="qualified" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="UUID" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Signature" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="RfcEmisor" type="xs:string"/>
<xs:attribute name="Fecha" type="xs:dateTime" use="required"/>
</xs:complexType>

<xs:complexType name="Acuse">
<xs:sequence>
<xs:element name="Folios" form="qualified" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="UUID" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="EstatusUUID" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Signature" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="CodEstatus" type="xs:string"/>
<xs:attribute name="Fecha" type="xs:dateTime" use="required"/>
<xs:attribute name="RfcEmisor" type="xs:string"/>
</xs:complexType>
</xs:schema>